/* Media Queries */
@media screen and (max-width:580px) {

    .container {
          margin-top: 30px;
    }

    .title {
       display:none;
    }

  .box {
        width: 90%;
        height: 500px;
       
    } 

    .box label {
        text-align:center;
    }

    button.invert {
       height: 50px;
       margin-top: 20px;
       padding: 10px;
    }

    .box #fromcurrency {
         font-size: 11px;
          padding: 30px;
        
     }

    .box #toCurrency {
        padding: 20px;
        font-size: 11px;
     }

    input[type=number] {
       margin-top: 30px;
       
    }

    button {
        width: 80%;
        height: 50px;
        margin-top: 10px;
    }

    #result {
      font-size: 15px;
     }


}
/***/
